body {
    background-color: rgb(204, 204, 204); /* Set background color */
}

h1 {
    text-align: center;
}

.songs {
    border: 2px solid black;
    height: 150px;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;    
}

h2 {
    text-align: center;
}

.down {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.video {
    width: 100%; /* Make it responsive */
}

.player_one {
    background-color: rgb(255, 255, 255); /* Set the background color */
    padding: 10px;
    border-radius: 5px;
    display: block; /* Ensure it takes full width */
    margin-bottom: 20px; /* Adds space below the video player */
}