/*  your css code here. If applicable */

}
h1{
	text-align: center;
}
.songs{
	border: 2px solid black;
	height: 150px;
}
li{
	list-style-type: none;
}
a{
	text-decoration-line: none;	
}
h2{
	text-align: center;
}
.down{
	width: 500px;
	height: 300px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
}
.video{
	width: 450;
}